<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kighmu.vpn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.BIND_VPN_SERVICE" />

    <application
        android:extractNativeLibs="true"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KighmuVPN">

        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.KighmuVPN.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.KighmuVPN">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" android:pathPattern=".*\.kighmu" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.ImportActivity"
            android:theme="@style/Theme.KighmuVPN"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/octet-stream"/>
                <data android:pathPattern=".*\.kighmu"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.ExportActivity" android:exported="false"/>
        <activity
            android:name=".ui.activities.LicenseActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity"/>

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.MainActivity" />

        <service
            android:name=".vpn.KighmuVpnService"
            android:stopWithTask="false"
            android:persistent="true"
            android:foregroundServiceType="connectedDevice"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>